.header{
    position: sticky;
    top: 0;
    background: white;
}

.feature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.feature--reverse{
    direction: rtl;
}

.feature--reverse> * {
    direction: ltr;
}