*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
    background-color: #17171787;
    backdrop-filter: blur(5px);
    position: sticky;
}

.brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.brand h1{
    letter-spacing: 5px;
    font-size: 30px;
    font-weight: 800;
}

.brand h1 span{
    color: #EF251F;
}

.brand p{
    font-size: 12px;
    color: #EF251F;
}

.right{
    gap: 20px;
    display: flex;
    padding-right: 10px;
}

 button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all ease 0.2s;
}

nav button:hover{
    background-color: steelblue;
}

button:hover{
    background-color: #EF251F;
}

button:active{
    scale: 0.95;
}

/* Card */
.container{
    display: flex;
    width: 95%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    gap: 10px;
    /* background-color: #fff; */
}
.card{
    width: 23%;
    min-width: 350px;
    max-width: 500px;
    border: 1px solid #fffefe;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    margin-bottom: 40px;
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.layer{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: limegreen;
    border-radius: 15px;
    padding: 7px 10px;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
}

#red{
    background-color: #EF251F;
}

.details{
    padding: 10px 20px ;
    line-height: 30px;
}

.details h2{
    padding-bottom: 10px;
}

.details p{
    font-size: 13px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.739);
}

.details h4{
    color: rgba(255, 255, 255, 0.735);
}

.btns{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 10px;
}

.editBtn:hover{
    background-color: steelblue;
}
.addForReview:hover{
    background-color: steelblue;
}


/* Form styling */
.review-List,.form-container{
    height: 100%;
    width: 100%;
    background-color: #000000bf;
    backdrop-filter: blur(5px);
    display: flex;
    position: absolute;
    top: -400%;
    left: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    transition: 0.5s ease;
}

.review-List{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 50px;
    height: fit-content;
    gap: 30px;
}

.close-btn,.close-cart{
    position: absolute;
    padding: 5px 10px;
    font-size: 20px;
    top: 16px;
    right: 20px;
}
form{
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 60px ;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #221f1ffe;
    width: 65%;
    height: 50%;
    margin: 20px auto;
    border-radius: 20px;
    position: relative;
}

form label{
    width: 300px;
}

form input{
    margin-left: 10px;
    padding: 10px 15px 10px 15px;
    width: 140px;
    border-radius: 10px;
    background-color: #313131;
    color: white;
    border: none;
    text-align: center;
}

#submit{
    font-size: 18px;
    margin-left: 50px;
}
#submit:hover{
    background-color: steelblue;
}

