*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card{
    border-radius: 15px;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
    position: absolute;
    top: 40px;
    margin-bottom: 30px;
}

button:active{
    scale: 0.9;
}