*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eceaea;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(89, 141, 178),rgb(119, 70, 140));
}

#form{
    width: 50%;
    height: 70%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 15px;
    
}

div{
    gap: 10px;
}

label{
    padding-left: 10px;
}