*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #130a0a;
  color: white;
}

nav{
  display: flex;
  width: 100%;
  padding: 10px 30px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.342);
}

button{
  color: white;
  background-color: transparent;
  border: 0.25px solid whitesmoke;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 15px;
  transition: 0.25s;
}

button:active{
  scale: 0.95;
}


.light{
  background-color: #dbbcbc;
  color: black;
}

.dark{
  background-color: #130a0a;
  color: white;
}