*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container{
    height: 80%;
    width: 90vw;
    background-color: #23232396;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-bottom: 100px;
}

input{
    background-color: transparent;
    min-width: 220px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
}

h1{
    font-size: 48px;
    letter-spacing: 5px;
}

button{
    margin-bottom: 25px;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.35s;
}

button:active{
    scale: 0.9;
}