*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100%; width: 100%;
    margin: 0;padding: 0;
}

/* Page Layout CSS */

.parent{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 48% 26% 26%;
    grid-template-rows: 50px 1.8fr 1fr 1fr;
    grid-template-areas: 
        "nav nav nav"
        "left1 right1 right2"
        "left2 right3 right3"
        "left2 right4 right5"
    ;
    justify-content: space-evenly;
}

.child{
    /* background-color: lightgreen; */
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: 4px;
}

#nav{
    grid-area: nav;
}
#left1{
    grid-area: left1;
    background-color: black;
}
#left2{
    grid-area: left2;
}
#right1{
    grid-area: right1;
    background-color: #ffda56;
}
#right2{
    grid-area: right2;
    background-color: #d4d5b5;
}
#right3{
    grid-area: right3;

}
#right4{
    grid-area: right4;
    background-color: #d8cfea;
}
#right5{
    grid-area: right5;

}

/* Navbar CSS */
#nav{
    display: flex;
}
#nav .left{
    width: 150px;
    height: 40px;
    border: 0.5px solid black;
    border-radius: 30px;
}

.left .home{
    padding: 10px;
    font-weight: 600;
}

.left .home i{
    margin-left: 15px;
    /* font-size: 15px; */
}

#nav .center{
    border: 0.5px solid black;
    border-radius: 30px;
    width: calc(100% - 280px);
    display: flex;
    font-weight: 600;
    font-size: 15px;
}

.center #features, #dashboard{
    align-items: center;
    display: flex;
    width: auto;
    border: 0.5px solid black;
    border-radius: 30px;
    padding: 3px 5px;
    justify-content: space-between;
    gap: 40px;
}
.center #features div, #dashboard div{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 0.5px solid black;
    border-radius: 20px;
    white-space: nowrap;
}

.right{
    width: 130px;
    border: 0.5px solid black;
    border-radius: 30px;
    margin-left: 1px;
    display: flex;
    align-items: center;
}

.right #menu{
    padding: 10px;
    font-weight: 600;
}

.right #menu i{
    /* margin-left: 35px; */
    border: 0.5px solid black;
    padding: 5px;
    padding-right: 5px !important;
}