*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}

.container{
    width: 100%;
    height: 300%;
    /* padding: 1px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(45px,1fr));
}

.cell{
    aspect-ratio: 1 / 1;
    transition: all ease 0.3s;
    
}

.active{
    border: 0.5px solid #a7f3fa;

}
.fade{
    border: 0.5px solid #255d62;
}