*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgContainer{
    display: flex;
    width: 90%;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;

}

img{
    height: 250px;
    cursor: pointer;
}
img:active{
    scale: 0.9;
}

#resultBox{
    display: flex;
    position: absolute;
    left: 20%;
    top: 20%;
    background-color: #232323;
    height: 65px;
    width: 60%;
    border-radius: 20px;
    border: 1px solid crimson;
    justify-content: space-between;
    padding: 20px 60px;
    color: whitesmoke;
}