*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1b0f0f;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}