*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #161111;
  /* cursor: none; */
}

div{
    background-color: salmon;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    transition: all linear;
}