*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    background: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url('./images/bg.webp');
    background-size: contain;
    color: #e0e0e0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    backdrop-filter: blur(1px);
}

.hero{
    height: 100%;
    width: 100%;
    padding: 10px;
}

.hero img{
    width: 100%;
    height: 90%;
    border-radius: 20px;
    object-fit: contain;
}

.container{
    width: 100%;
    display: grid;
    padding:  15px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 30px;
}

.container img{
    width: 100%;
    height: 500px;
    object-fit: cover; 
    object-position: top; 
    border-radius: 15px;
    cursor: pointer;
    transition: 0.35s ease;
}


.container img:hover{
    transform: scale(1.01);
}
.modal-wrapper {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    position: relative; /* For close button positioning */
    max-width: 850px;
    width: 90%;
    background: #111;
    border: 1px solid #c9a063;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.modal-right h1 { color: #c9a063; font-family: 'serif'; }
.modal-right h3 { color: #aaa; margin-bottom: 10px; }
.modal-right hr { border: 0.5px solid #333; margin: 15px 0; }

.desc { line-height: 1.6; color: #ccc; }

.modal-body{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.modal-left img {
    width: 300px;
    border-radius: 5px;
    border: 1px solid #c9a063;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: #c9a063;
    font-size: 2rem;
    cursor: pointer;
}

#quote {
    font-style: italic;
    color: #c9a063;
    margin-top: 15px;
    display: block;
}