*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: white;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    height: 200px;
    width: 500px;
    border-radius: 30px;
    margin: 40px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
    margin-top: 10px;

}

button:active{
    scale: 0.9;
}

.boxes div, #box{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    transition: 0.25s;
    margin: 10px;
}

#input{
    width: 200px;
    height: 30px;

}

.boxes{
    display: flex;
    flex-direction: row;
}

.boxes div{
    border-radius: 40%;
}

.buttons{
    display: flex;
    /* padding-left: 20px; */
    gap: 90px;
}

