*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffcbcbe7;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(31, 31, 31, 0.296);
}

nav div{
    cursor: pointer;
}

.logo img{
    height: 50px;
    margin-left: -30px;

}

.links, #right{
    display: flex;
    align-items: center;
}

 button{
    border: 1px solid rgba(255, 203, 203, 0.904);
    background-color: #37A7A1;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}

button:active{
    scale: 0.9;
}

main{
    height: 100%;
    width: 100%;
}

.section{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.left{
    width: 50%;
    padding: 20px;
}

.right{
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.section img{
    width: calc(100% - 150px);
    align-self: center;
}

p{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 1px;
}

.layer{
    padding: 0;margin: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.806);
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}