*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}

body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

button{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
    margin-top: 10px;
    background-color: rgb(79, 216, 139);
}

button:active{
    scale: 0.93;
}

#container{
    height: 90%;
    width: 90%;
    background-color: #3c3434;
}

img{
    height: 200px;
}