*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: white;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
    gap: 30px;
}

.card{
    display: flex;
    align-items: center;
    background-color: #191919;
    padding: 20px;
    width: 550px;
    height: 240px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    visibility: hidden;
}

#details h1{
    position: relative;
    bottom: 20px;
}

#details p{
    line-height: 25px;
    /* font-size: 20px; */
    font-weight: 500;
    color: rgb(165, 165, 165);
}

#logo{
    height: 180px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    margin-right: 20px;
}

img{
    width: 150px;
    margin-right: 20px;
}

button{
    padding: 15px 50px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
    margin-bottom: 30px;
    background-color: crimson;
    border: 0.5px solid red;
    color: aliceblue;
}

button:active{
    scale: 0.93;
}


