*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: white;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
    gap: 30px;
}

.card{
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    padding: 20px;
    width: 450px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

img{
    width: 120px;
    margin-right: 20px;
}

button{
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.1s;
    margin-top: 10px;
    background-color: rgb(123, 231, 169);
    border: 0.5px solid red;
}

button:active{
    scale: 0.93;
}


