@font-face {
    font-family: playfair;
    src: url(/Enblox/Assets/static/PlayfairDisplay-Italic.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eceaea;
  color: #000000;
  line-height: 1.6;
}

.main{
    height: 100%;
    width: 100%;
}

#navbar{
    height: 80px;
    width: 100%;
    /* background-color: rgb(239, 158, 174); */
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px 40px;
    margin: auto;
    margin-bottom: 75px;
}

#left{
    font-weight: 700;
    margin-left: 20px;
}

#center{
    font-size: 12px;
    font-weight: 100;
    margin: auto;
}

#right{
    margin-right: 30px;
    
}

button{
    border: 1px solid black;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
    font-size: 11px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  display: flex;
    gap: 10%;
}

#hero{
    height: calc(100% - 200px);
    text-align: center;
}

#hero h3{
    margin-bottom: 15px;
    font-family: playfair;
    font-weight: 200;
    font-size: 26px;
    letter-spacing: 0.1px;
}

#hero h1{
    font-size: 66px;
    letter-spacing: 0.5px;
    line-height: 70px;
    margin-bottom: 18px;
}

#hero p{
    margin: auto;
    color: #8c8c8c;
    width: 50%;
    margin-bottom: 20px;
}

#hero button{
    font-size: 14px;
    padding: 15px 25px;
}

#image-section{
    height: 100vh;
    width: 100%;
}

#gradient{
    height: 60%;
    width: 97%;
    background: linear-gradient(to bottom , rgb(255, 221, 29), rgb(255, 51, 133), rgb(197, 0, 150));
    filter: blur(80px);
    opacity: 0.8;
    position: absolute;
    rotate: -10deg;
}

img{
    rotate: -10deg;
    position: absolute;
    height: 105%;
    z-index: 5;
    left: 50%;
    transform: translate(-50%);
    
}